html, body {
    overflow: hidden;
}

body {
    position: fixed;
    color: white;
    font-family: monospace;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .score {
        position: absolute;
        left: 10%;
        top: 10%;
        font-size: 20px;
    }

    .money {
        position: absolute;
        left: 70%;
        top: 10%;
        right: 10%;
        text-align: right;
        font-size: 20px;

        img {
            margin-bottom: -2px;
            max-height: 20px;
        }
    }

    .defeat.hidden {
        opacity: 0;
    }

    .defeat {
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        background: rgba(255, 255, 255, 0.05);
        pointer-events: none;
        transition: 0.2s ease-in-out all;

        .text {
            mix-blend-mode: difference;
            font-weight: bold;
            font-size: 90px;
        }
    }
}
