html, body {
    overflow: hidden;
}

body {
    position: fixed;
    color: white;
    font-family: monospace;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

button {
    background: rgba(255, 255, 255, 0.75);
    border: none;
    color: black;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out all;

    &:hover {
        background: rgba(255, 255, 255, 1);
    }
}

.display {
    background: rgba(255, 255, 255, 0.05);
    color: white;
    margin: 10px;
    padding: 10px;
    width: 150px;

    &__title {
        color: #999;
        font-size: 12px;
    }

    &__value {
        font-size: 24px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    .score {
        position: absolute;
        left: 10%;
        top: 10%;
        font-size: 20px;
    }

    .money {
        position: absolute;
        left: 70%;
        top: 10%;
        right: 10%;
        font-size: 20px;

        display: flex;
        justify-content: flex-end;

        img {
            margin-bottom: -1px;
            max-height: 20px;
        }
    }

    .defeat.hidden {
        opacity: 0;
        pointer-events: none;
    }

    .defeat {
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        background: rgba(255, 255, 255, 0.05);
        transition: 0.2s ease-in-out all;

        .text {
            mix-blend-mode: difference;
            font-weight: bold;
            font-size: 90px;
        }
    }
}
